<h2>Affiliated Faculty</h2>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      
      <ul>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/bingenheimer-marcus" title="Marcus Bingenheimer">Marcus Bingenheimer</a><p><strong>College of Liberal Arts, Department of Religion</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/duckworth-douglas" title="Douglas Duckworth">Douglas Duckworth</a><p><strong>College of Liberal Arts, Department of Religion</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/fujiwara-yukari" title="Yukari Fujiwara (Temple University Japan Campus 2019-20)">Yukari Fujiwara (Temple University Japan Campus 2019-20)</a><p><strong>College of Liberal Arts, Department of Asian and Middle Eastern Languages and Studies</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/hsueh-roslyn" title="Roselyn Hsueh">Roselyn Hsueh</a><p><strong>College of Liberal Arts, Department of Political Science</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/huang-shuchen-susan" title="Shuchen (Susan) Huang">Shuchen (Susan) Huang</a><p><strong>College of Liberal Arts, Department of Asian and Middle Eastern Languages and Studies</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/kim-yong-joo" title="Yong Joo Kim">Yong Joo Kim</a><p><strong>College of Liberal Arts, Department of Asian and Middle Eastern Languages and Studies</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/lavelle-peter" title="Peter Lavelle">Peter Lavelle</a><p><strong>College of Liberal Arts, Department of History</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/lee-katie" title="Katie Lee">Katie Lee</a><p><strong>College of Liberal Arts, Department of Asian and Middle Eastern Languages and Studies</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/mangione-louis" title="Louis Mangione">Louis Mangione</a><p><strong>College of Liberal Arts, Department of Asian and Middle Eastern Languages and Studies</strong></p></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
   
        <ul>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/nagai-takamasa" title="Takamasa Nagai">Takamasa Nagai</a><p><strong>College of Liberal Arts, Department of Asian and Middle Eastern Languages and Studies</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/nagatomo-shigenori" title="Shigenori Nagatomo">Shigenori Nagatomo</a><p><strong>College of Liberal Arts, Department of Religion</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/nguyen-dieu-t" title="Dieu Nguyen">Dieu Nguyen</a><p><strong>College of Liberal Arts, Department of History</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/song-yuchen" title="Yuchen Song">Yuchen Song</a><p><strong>College of Liberal Arts, Department of Asian and Middle Eastern Languages and Studies</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/spodek-howard" title="Howard Spodek">Howard Spodek</a><p><strong>College of Liberal Arts, Department of History</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/uno-kathleen" title="Kathleen Uno">Kathleen Uno</a><p><strong>College of Liberal Arts, Department of History</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/white-sydney-d" title="Sydney White">Sydney White</a><p><strong>College of Liberal Arts, Department of Religion</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/yoshida-reiko" title="Reiko Yoshida">Reiko Yoshida</a><p><strong>College of Liberal Arts, Department of Asian and Middle Eastern Languages and Studies</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/zhang-lu" title="Lu Zhang">Lu Zhang</a><p><strong>College of Liberal Arts, Department of Sociology</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/zhu-yun" title="Yun Zhu">Yun Zhu</a><p><strong>College of Liberal Arts, Department of Asian and Middle Eastern Languages and Studies</strong></p></li>
        </ul>
      </div>
    </div>
  </div>
