<div>
  <h2>Affiliated Faculty</h2>
    <p>The following faculty from other departments have courtesy appointments in the Department of Asian &amp; Middle Eastern Languages &amp; Studies.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
       
 <ul>      
  <h3>Anthropology</h3>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/jhala-jayasinhji">Jhala Jayasinhji</a></li>
    <ul>
 <h3>Asian &amp; Middle Eastern Languages &amp; Studies</h3> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/fujiwara-yukari">Yukari Fujiwara</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/huang-shuchen-susan">Shuchen (Susan) Huang</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mangione-louis">Louis Mangione</a></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/thornbury-barbara">Barbara Thornbury</a></li>   
  <li><a href="https://liberalarts.temple.edu/academics/faculty/yoshida-reiko">Reiko Yoshida</a></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhu-yun">Yun Zhu</a></li>
    <ul>
 <h3>English</h3>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya">Priya Joshi</a></li> 
 <h3>Geography and Urban Studies</h3>
    <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/cybriwsky-roman">Roman Cybriwsky</a></li>
    <ul>
   </ul>
 </div>   
   
   <div class="row">
     <div class="col s12 m6">    
      
 <h3>History</h3>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/lavelle-peter">Peter Lavelle</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/nguyen-dieu-t">Dieu T. Nguyen</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/spodek-howard">Howard Spodek</a></li>   
  <li><a href="https://liberalarts.temple.edu/academics/faculty/uno-kathleen">Kathleen Uno</a></li> 
    <ul>
 <h3>Political Science</h3>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/roselyn-hsueh">Roselyn Hsueh</a></li>
    <ul>
 <h3>Religion</h3>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/bingenheimer-marcus">Marcus Bingenheimer</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/duckworth-douglas">Douglas Duckworth</a></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/nagatomo-shigenori">Shigenori Nagatomo</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/white-sydney-d">Sydney D. White</a></li> 
    <ul>
 <h3>Sociology</h3>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhang-lu">Lu Zhang</a></li> 
    <ul>
    </ul>
  </div>
 </div>
